In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("lab.ipynb")

# Lab 3 ‚Äì Merging and Pivoting

## DSC 80, Fall 2024

### Due Date: Friday, October 18th at 11:59PM

## Instructions

Welcome to the third DSC 80 lab this quarter!

Much like in DSC 10, this Jupyter Notebook contains the statements of the problems and provides code and Markdown cells to display your answers to the problems. Unlike DSC 10, the notebook is *only* for displaying a readable version of your final answers. The coding will be done in an accompanying `lab.py` file that is imported into the current notebook, and **you will only submit that `lab.py` file**, not this notebook!

Some additional guidelines:
- **Unlike in DSC 10, labs will have both public tests and hidden tests.** The bulk of your grade will come from your scores on hidden tests, which you will only see on Gradescope after the assignment deadline.
- **Do not change the function names in the `lab.py` file!** The functions in the `lab.py` file are how your assignment is graded, and they are graded by their name. If you changed something you weren't supposed to, you can find the original code in the [course GitHub repository](https://github.com/dsc-courses/dsc80-2024-fa).
- Notebooks are nice for testing and experimenting with different implementations before designing your function in your `lab.py` file. You can write code here, but make sure that all of your real work is in the `lab.py` file, since that's all you're submitting.
- You are encouraged to write your own additional helper functions to solve the lab, as long as they also end up in `lab.py`.

**To ensure that all of the work you want to submit is in `lab.py`, we've included a script named `lab-validation.py` in the lab folder. You shouldn't edit it, but instead, you should call it from the command line (e.g. the Terminal) to test your work.** More details on its usage are given at the bottom of this notebook.

**Importing code from `lab.py`**:

* Below, we import the `.py` file that's contained in the same directory as this notebook.
* We use the `autoreload` notebook extension to make changes to our `lab.py` file immediately available in our notebook. Without this extension, we would need to restart the notebook kernel to see any changes to `lab.py` in the notebook.
    - `autoreload` is necessary because, upon import, `lab.py` is compiled to bytecode (in the directory `__pycache__`). Subsequent imports of `lab` merely import the existing compiled python.

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from lab import *

In [4]:
import os
import io
from pathlib import Path
import pandas as pd
import numpy as np

<div class="alert alert-block alert-danger" markdown="1">

**There are only two functions in this lab in which you may use a `for`-loop:**
- **`read_linkedin_survey` in Question 1.**
- **`read_student_surveys` in Question 2.**
    
**You may lose points if you use a `for`-loop or `while`-loop in any other question!**

</div>

## Part 1: Combining Data

### Question 1 ‚Äì Making Connections ü§ù

A group of students decided to send out a survey to their connections on LinkedIn. Each student asks 1000 of their connections for their first and last name, the company they currently work at, their job title, their email, and the university they attended.

**Your job is to combine all the data contained in the files `survey*.csv` (stored within the `data/responses` folder) into a single DataFrame. The number of files and the number of rows in each file may vary, so don't hardcode your answers!** To do so, implement the following two functions.

#### `read_linkedin_survey`

Complete the implementation of the function `read_linkedin_survey`, which takes in a Path for the directory where `survey*.csv` files are located and outputs a single DataFrame with six columns titled `'first name'`, `'last name'`, `'current company'`, `'job title'`, `'email'`, and `'university'` (in that order) containing the all of survey information from all the `.csv` files. Make sure to reset the index of the combined DataFrame before returning it so that the index is unique. When the function takes in an invalide directory it should raise a `FileNotFoundError`.

***Hints***:

- Take a look at a few of the files in the `responses` folder. You may have to do some data cleaning to combine the DataFrames!

- You can list the files in a directory using `.iterdir()`.

***Note***: Remember to use `Path()` to build file paths. Calling `.iterdir()` on a `Path()` object will automatically throw a `FileNotFoundError`.

<br>

#### `com_stats`

Complete the implementation of the function `com_stats`, which takes in a DataFrame returned by `read_linkedin_survey` and returns a list containing, in the following order: 
- The proportion of people who went to a university with the string `'Ohio'` in its name that have the string `'Programmer'` somewhere in their job title.
- The number of job titles that **end** with the exact string `'Engineer'`. Note that we're asking for the number of job titles, **not** the number of people!
- The job title that has the longest name (there are no ties).
- The number of people who have the word `'manager'` in their job title, uppercase or lowercase (`'Manager'`, `'manager'`, and `'mANAgeR'` should all count).

There are only two functions in this lab in which you may use a for-loop:

read_linkedin_survey in Question 1.
read_student_surveys in Question 2.
You may lose points if you use a for-loop or while-loop in any other question!

In [5]:
Path()

WindowsPath('.')

In [6]:
def read_linkedin_survey(directory):
    directory = Path(directory)
    if not directory.is_dir():
        raise FileNotFoundError("The specified directory does not exist")
    
    dataframes = []
    for file in directory.iterdir():
        if file.name.startswith('survey') and file.suffix == '.csv':
            df = pd.read_csv(file)
            # Ensure we have the correct columns
            required_columns = ['first name', 'last name', 'current company', 'job title', 'email', 'university']
            if set(required_columns).issubset(df.columns):
                df = df[required_columns]
            else:
                # If columns don't match, try to infer them based on position
                df.columns = required_columns[:len(df.columns)]
            dataframes.append(df)
    
    if not dataframes:
        raise ValueError("No survey files found in the specified directory")
    
    combined_df = pd.concat(dataframes, ignore_index=True)
    
    # Ensure we have all required columns, fill with NaN if missing
    for col in required_columns:
        if col not in combined_df.columns:
            combined_df[col] = pd.NA
    
    # Reorder columns to match the required order
    combined_df = combined_df[required_columns]
    
    return combined_df.reset_index(drop=True)

In [7]:
def com_stats(linkedin_reps_df):
    # find ohio in the uni and programmer in job title

    #find all entries with engineer in title so disregard null entries

    # find longest job title

    
    return None

In [8]:
def com_stats(df):
    ohio_programmer = df[(df['university'].str.contains('Ohio')) & (df['job title'].str.contains('Programmer'))].shape[0] / df.shape[0]
    
    engineer_titles = df['job title'].str.endswith('Engineer').sum()
    
    longest_title = df['job title'].str.len().idxmax()
    longest_title = df.loc[longest_title, 'job title']
    
    manager_count = df['job title'].str.contains('manager', case=False).sum()
    
    return [ohio_programmer, engineer_titles, longest_title, manager_count]

In [9]:
# do not edit this cell -- it is needed for the tests
dirname = Path('data') / 'responses'
q1_out = read_linkedin_survey(dirname)
stats_out = com_stats(q1_out)

In [10]:
grader.check("q1")

q1 results: All test cases passed!

### Question 2 ‚Äì Survey Says... üë®‚Äçüë©‚Äçüëß‚Äçüë¶

Professor Aritra often sends out extra credit surveys asking students for their favorite animals, movies, and other favorite things. These surveys are stored in the `data/extra-credit-surveys` folder. Each file in that folder corresponds to a different survey question (except for `favorite1.csv`, which contains students' names and IDs).

Here's how extra credit works:
- Each student who has completed at least 50% of the survey questions receives 5 points of extra credit.
- If there is at least one survey question that at least 90% of the class answered (e.g. favorite animal), **everyone** in the class receives 1 point of extra credit. This overall class extra credit only applies twice, so if for example 95% of students answer the favorite color survey question and 91% answer the favorite animal survey question, and and 97% answer the favorite movie question, the entire class still receives 2 extra point as a class, not 3.
- Note that this means that the most extra credit any student can earn is 7 points.

#### `read_student_surveys`

Complete the implementation of the function `read_student_surveys` which takes in a Path describing the directory to a folder containing `favorite*.csv` files and outputs a DataFrame containing all of the survey data combined, indexed by student ID (a value 1-1000).

***Note***: Remember to use `Path()` to build file paths.


<br>

#### `check_credit`

Complete the implementation of the function `check_credit` which takes in a DataFrame returned by `read_student_surveys` and outputs a DataFrame indexed by student ID (a value 1-1000) with two columns:
- `'name'`, containing the name of each student, and
- `'ec'`, containing the number of extra credit points each student earned.

***Note***: For the genres survey, `'(no genres listed)'` does not count as a valid response for receiving extra credit.

In [11]:
def read_student_surveys(directory):
    directory = Path(directory)
    if not directory.is_dir():
        raise FileNotFoundError("The specified directory does not exist")
    
    dataframes = []
    for file in directory.iterdir():
        if file.name.startswith('favorite') and file.suffix == '.csv':
            df = pd.read_csv(file, index_col='id')
            dataframes.append(df)
    
    if not dataframes:
        raise ValueError("No survey files found in the specified directory")
    
    combined_df = pd.concat(dataframes, axis=1)
    
    # Ensure 'name' column is present (from favorite1.csv)
    if 'name' not in combined_df.columns:
        raise ValueError("Missing 'name' column in survey data")
    
    return combined_df

In [12]:
def check_credit(df):
    # Calculate the number of questions each student answered
    questions_answered = df.notna().sum(axis=1) - 1  # Subtract 1 to exclude 'name' column
    total_questions = df.shape[1] - 1  # Subtract 1 to exclude 'name' column
    
    # Calculate individual extra credit
    individual_ec = (questions_answered >= 0.5 * total_questions).astype(int) * 5
    
    # Calculate class-wide extra credit
    response_rate = df.notna().mean()
    high_response_questions = (response_rate >= 0.9).sum() - 1  # Subtract 1 to exclude 'name' column
    class_ec = min(high_response_questions, 2)
    
    # Combine individual and class extra credit
    total_ec = individual_ec + class_ec
    
    # Create the result DataFrame
    result = pd.DataFrame({
        'name': df['name'],
        'ec': total_ec
    })
    
    return result

In [13]:
# do not edit this cell -- it is needed for the tests
dirname = Path('data') / 'extra-credit-surveys'
q2_out = read_student_surveys(dirname)
check_credit_out = check_credit(q2_out)

In [14]:
grader.check("q2")

q2 results: All test cases passed!

### Question 3 ‚Äì Paw Patrol üêæ

You are analyzing data from a veterinarian clinic. The datasets contain several types of information from the clinic, including its customers (pet owners), pets, available procedures, and procedure history. The column names are self-explanatory. These DataFrames are provided to you:
-  `owners` stores the customer information, where every `'OwnerID'` is unique (verify this yourself).
-  `pets` stores the pet information. Each pet belongs to a customer in `owners`.
-  `procedure_detail` contains a catalog of procedures that are offered by the clinic.
-  `procedure_history` has procedure records. Most procedures were given to a pet in `pets`.

Complete the implementation of the following three functions, which each ask you to answer a specific question.

#### `most_popular_procedure`

What is the most popular `'ProcedureType'` amongst all pets in the `pets` DataFrame? Complete the implementation of the function `most_popular_procedure`, which takes in two DataFrames, `pets` and `procedure_history`, and returns the name of the most popular `'ProcedureType'` as a string.

Note that some pets are registered but haven't had any procedures performed. Also, some pets that have had procedures done are not registered in `pets`.

<br>

#### `pet_name_by_owner`

What is the name of each customer's pet(s)? Complete the implementation of the function `pet_name_by_owner`, which takes in two DataFrames, `owners` and `pets`, and returns a Series whose index contains owner first names, and whose values are pet names as **strings**. If an owner has multiple pets, the value corresponding to that owner should instead be a **list of pet names as strings**.

Note that owner first names are not necessarily unique, and so the Series you return will not necessarily have a unique index.

<br>

#### `total_cost_per_city`

Note that the `owners` DataFrame has a `'City'` column, describing the city in which each pet owner and their pets live. How much did each city spend in total on procedures? Complete the implementation of the function `total_cost_per_city`, which takes in four DataFrames, `owners`, `pets`, `procedure_history`, and `procedure_detail`, and returns a Series indexed by `'City'` that describes the total amount that each city has spent on pets' procedures.

***Hint***: At some point, you may have to merge on multiple columns.

***Note***: Some owners may have never visited the veterinarian clinic in their city. This means some cities may have zero operational costs.

In [25]:
procedure_history.head()

     PetID        Date    ProcedureType  ProcedureSubCode
0  A8-1181  2016-01-10     VACCINATIONS                 5
1  E7-3766  2016-01-11     VACCINATIONS                 5
2  B8-8740  2016-01-11     VACCINATIONS                 5
3  D4-9443  2016-01-11     VACCINATIONS                 5
4  F6-3398  2016-01-12  HOSPITALIZATION                 1

In [23]:
procedure_detail

        ProcedureType  ProcedureSubCode           Description  Price
0         OFFICE FEES                 1           Office Call     32
1         OFFICE FEES                 2             Emergency    100
2         OFFICE FEES                 3                  Reck     24
3            GROOMING                 1                  Bath     15
4            GROOMING                 2              Flea Dip     15
5            GROOMING                 3            Flea Spray     10
6        VACCINATIONS                 1       Galaxie (DHLPP)     15
7        VACCINATIONS                 2              Leukemia     20
8        VACCINATIONS                 3                  Lyme     15
9        VACCINATIONS                 4                   PCR     15
10       VACCINATIONS                 5                Rabies     10
11       VACCINATIONS                 6            Bordetella     10
12    HOSPITALIZATION                 1   All Hospitalization     25
13         ORTHOPEDIC                 1  Amput. per lim thor.    400
14         ORTHOPEDIC                 2               Casting     97
15         ORTHOPEDIC                 3            Re-Casting     62
16         ORTHOPEDIC                 4      Fem. head Ostec.    420
17         ORTHOPEDIC                 5     Lx Patella Repair    305
18         ORTHOPEDIC                 6      Metamason Splint     50
19         ORTHOPEDIC                 7          Pinning-I.M.    325
20         ORTHOPEDIC                 8           Pin Removal     68
21         ORTHOPEDIC                 9          Cast Removal     40
22  GENERAL SURGERIES                 1       Anal Gland Caut    150
23  GENERAL SURGERIES                 2        Aural Hematoma    108
24  GENERAL SURGERIES                 3                Declaw    125
25  GENERAL SURGERIES                 4    Dissolvable Suture     15
26  GENERAL SURGERIES                 5              Ear Crop    350
27  GENERAL SURGERIES                 6       Gastric Torsion    450
28  GENERAL SURGERIES                 7                Hernia    390
29  GENERAL SURGERIES                 8             Umbilical    175
30  GENERAL SURGERIES                 9              Perineal    375
31  GENERAL SURGERIES                10       Unilat Inquinal    195
32  GENERAL SURGERIES                11       Intestinal Anas    775
33  GENERAL SURGERIES                12    Open Chest Surgery    500
34  GENERAL SURGERIES                13      Perineal Adenoma    175
35  GENERAL SURGERIES                14     Peritoneal Lavage     85
36  GENERAL SURGERIES                15      Pyloric Stenosis    425
37  GENERAL SURGERIES                16           Splenectomy    375
38  GENERAL SURGERIES                17    Radical Mastectomy    450
39  GENERAL SURGERIES                18      Salivary Cyst Ex    570
40  GENERAL SURGERIES                19  Tail Dock-Amputation    250

In [22]:
owners

,OwnerID,Name,Surname,StreetAddress,City,State,StateFull,ZipCode
0,6049,Debbie,Metivier,315 Goff Avenue,Grand Rapids,MI,Michigan,49503
1,2863,John,Sebastian,3221 Perry Street,Davison,MI,Michigan,48423
2,3518,Connie,Pauley,1539 Cunningham Court,Bloomfield Township,MI,Michigan,48302
3,3663,Lena,Haliburton,4217 Twin Oaks Drive,Traverse City,MI,Michigan,49684
4,1070,Jessica,Velazquez,3861 Woodbridge Lane,Southfield,MI,Michigan,48034
...,...,...,...,...,...,...,...,...
84,2103,Robert,Adkins,2102 Perry Street,Flint,MI,Michigan,48548
85,4464,Daniel,Nielson,4876 Tully Street,Detroit,MI,Michigan,48219
86,5737,Alden,McMiller,3111 Tennessee Avenue,Pontiac,MI,Michigan,48342
87,9850,Gary,Snider,3139 Nash Street,Detroit,MI,Michigan,48227
88,1546,Joseph,Blow,556 D Street,Southfield,MI,Michigan,48075

In [21]:
pets

      PetID     Name    Kind  Gender  Age  OwnerID
0   J6-8562  Blackie     Dog    male   11     5168
1   Q0-2001   Roomba     Cat    male    9     5508
2   M0-2904    Simba     Cat    male    1     3086
3   R3-7551   Keller  Parrot  female    2     7908
4   P2-7342  Cuddles     Dog    male   13     4378
..      ...      ...     ...     ...  ...      ...
95  U8-6473  Biscuit     Dog  female    3     1070
96  I5-4893   Cookie     Cat  female    3     7340
97  Q8-0954  Lakshmi     Cat  female    7     9385
98  N0-9539  Swiffer     Cat    male   14     9365
99  S5-5938      Taz     Dog    male    6     9427

[100 rows x 6 columns]

<h1>claude prompt

In [50]:

def most_popular_procedure(pets: pd.DataFrame, procedure_history: pd.DataFrame) -> str:
    """
    Find the most common ProcedureType across all pets.
    
    Args:
        pets: DataFrame containing pet information
        procedure_history: DataFrame containing procedure records
    
    Returns:
        str: The name of the most common ProcedureType
    """
    # Count occurrences of each ProcedureType
    procedure_counts = procedure_history['ProcedureType'].value_counts()
    
    # Return the most common procedure
    return procedure_counts.index[0]

def pet_name_by_owner(owners: pd.DataFrame, pets: pd.DataFrame) -> pd.Series:
    """
    Create a Series mapping owner first names to their pets' names.
    
    Args:
        owners: DataFrame containing owner information
        pets: DataFrame containing pet information
    
    Returns:
        pd.Series: Series with owner first names as index and pet names (string or list) as values
    """
    # Merge owners and pets DataFrames
    merged_df = pd.merge(owners[['OwnerID', 'Name']], pets[['OwnerID', 'Name']], 
                        on='OwnerID', suffixes=('_owner', '_pet'))
    
    # Group by owner name and aggregate pet names
    result = merged_df.groupby('Name_owner')['Name_pet'].agg(lambda x: list(x) if len(x) > 1 else x.iloc[0])
    
    return result

def total_cost_per_city(owners: pd.DataFrame, pets: pd.DataFrame, 
                       procedure_history: pd.DataFrame, procedure_detail: pd.DataFrame) -> pd.Series:
    """
    Calculate the total amount spent on procedures per city.
    
    Args:
        owners: DataFrame containing owner information
        pets: DataFrame containing pet information
        procedure_history: DataFrame containing procedure records
        procedure_detail: DataFrame containing procedure information and prices
    
    Returns:
        pd.Series: Series with cities as index and total costs as values
    """
    # Merge procedure_history with procedure_detail to get prices
    procedures_with_prices = pd.merge(
        procedure_history,
        procedure_detail[['ProcedureType', 'ProcedureSubCode', 'Price']],
        on=['ProcedureType', 'ProcedureSubCode']
    )
    
    # Merge with pets to get OwnerID
    procedures_with_owners = pd.merge(
        procedures_with_prices,
        pets[['PetID', 'OwnerID']],
        on='PetID',
        how='left'
    )
    
    # Merge with owners to get City
    procedures_by_city = pd.merge(
        procedures_with_owners,
        owners[['OwnerID', 'City']],
        on='OwnerID',
        how='right'
    )
    
    # Calculate total cost per city
    city_costs = procedures_by_city.groupby('City')['Price'].sum().fillna(0)
    
    return city_costs

In [68]:
import pandas as pd

def most_popular_procedure(pets: pd.DataFrame, procedure_history: pd.DataFrame) -> str:
    """
    Find the most common ProcedureType across all pets.
    
    Args:
        pets: DataFrame containing pet information
        procedure_history: DataFrame containing procedure records
    
    Returns:
        str: The name of the most common ProcedureType
    """
    # Count occurrences of each ProcedureType
    procedure_counts = procedure_history['ProcedureType'].value_counts()
    
    # Return the most common procedure
    return procedure_counts.index[0]

def pet_name_by_owner(owners: pd.DataFrame, pets: pd.DataFrame) -> pd.Series:
    """
    Create a Series mapping owner first names to their pets' names.
    
    Args:
        owners: DataFrame containing owner information
        pets: DataFrame containing pet information
    
    Returns:
        pd.Series: Series with owner first names as index and pet names (string or list) as values
    """
    # Merge owners and pets DataFrames using left merge to keep all owners
    merged_df = pd.merge(owners[['OwnerID', 'Name']], pets[['OwnerID', 'Name']], 
                        on='OwnerID', how='left', suffixes=('_owner', '_pet'))
    
    # Group by owner name and aggregate pet names
    def aggregate_pets(x):
        # Remove NaN values
        valid_pets = x.dropna()
        if len(valid_pets) == 0:
            return None
        elif len(valid_pets) == 1:
            return valid_pets.iloc[0]
        else:
            return list(valid_pets)
    
    result = merged_df.groupby('Name_owner')['Name_pet'].agg(aggregate_pets)
    
    return result

def total_cost_per_city(owners: pd.DataFrame, pets: pd.DataFrame, 
                       procedure_history: pd.DataFrame, procedure_detail: pd.DataFrame) -> pd.Series:
    """
    Calculate the total amount spent on procedures per city.
    
    Args:
        owners: DataFrame containing owner information
        pets: DataFrame containing pet information
        procedure_history: DataFrame containing procedure records
        procedure_detail: DataFrame containing procedure information and prices
    
    Returns:
        pd.Series: Series with cities as index and total costs as values
    """
    # Merge procedure_history with procedure_detail to get prices
    procedures_with_prices = pd.merge(
        procedure_history,
        procedure_detail[['ProcedureType', 'ProcedureSubCode', 'Price']],
        on=['ProcedureType', 'ProcedureSubCode']
    )
    
    # Merge with pets to get OwnerID
    procedures_with_owners = pd.merge(
        procedures_with_prices,
        pets[['PetID', 'OwnerID']],
        on='PetID',
        how='left'
    )
    
    # Merge with owners to get City
    procedures_by_city = pd.merge(
        procedures_with_owners,
        owners[['OwnerID', 'City']],
        on='OwnerID',
        how='right'
    )
    
    # Calculate total cost per city
    city_costs = procedures_by_city.groupby('City')['Price'].sum().fillna(0)
    
    return city_costs

<h1>claude -> chat (widenex)

In [54]:

# def most_popular_procedure(pets: pd.DataFrame, procedure_history: pd.DataFrame) -> str:
#     """
#     Find the most common ProcedureType across all pets.
    
#     Args:
#         pets: DataFrame containing pet information
#         procedure_history: DataFrame containing procedure records
    
#     Returns:
#         str: The name of the most common ProcedureType
#     """
#     # Count occurrences of each ProcedureType
#     procedure_counts = procedure_history['ProcedureType'].value_counts()
    
#     # Return the most common procedure
#     return procedure_counts.idxmax()

# def pet_name_by_owner(owners: pd.DataFrame, pets: pd.DataFrame) -> pd.Series:
#     """
#     Create a Series mapping owner first names to their pets' names.
    
#     Args:
#         owners: DataFrame containing owner information
#         pets: DataFrame containing pet information
    
#     Returns:
#         pd.Series: Series with owner first names as index and pet names (string or list) as values
#     """
#     # Merge owners and pets DataFrames to link pets with owners
#     merged_df = pd.merge(
#         owners[['OwnerID', 'Name']],
#         pets[['OwnerID', 'Name']],
#         on='OwnerID',
#         suffixes=('_owner', '_pet')
#     )

#     # Group by owner's first name and aggregate pet names
#     result = merged_df.groupby('Name')['Name_pet'].agg(
#         lambda x: list(x) if len(x) > 1 else x.iloc[0]
#     )

#     return result

# def total_cost_per_city(
#     owners: pd.DataFrame, pets: pd.DataFrame, 
#     procedure_history: pd.DataFrame, procedure_detail: pd.DataFrame
# ) -> pd.Series:
#     """
#     Calculate the total amount spent on procedures per city.
    
#     Args:
#         owners: DataFrame containing owner information
#         pets: DataFrame containing pet information
#         procedure_history: DataFrame containing procedure records
#         procedure_detail: DataFrame containing procedure information and prices
    
#     Returns:
#         pd.Series: Series with cities as index and total costs as values
#     """
#     # Merge procedure_history with procedure_detail to get prices
#     procedures_with_prices = pd.merge(
#         procedure_history,
#         procedure_detail[['ProcedureType', 'ProcedureSubCode', 'Price']],
#         on=['ProcedureType', 'ProcedureSubCode']
#     )

#     # Merge with pets to get the OwnerID
#     procedures_with_owners = pd.merge(
#         procedures_with_prices,
#         pets[['PetID', 'OwnerID']],
#         on='PetID',
#         how='left'  # Some procedures may not have a registered pet
#     )

#     # Merge with owners to get the City information
#     procedures_by_city = pd.merge(
#         procedures_with_owners,
#         owners[['OwnerID', 'City']],
#         on='OwnerID',
#         how='left'  # Some owners may not have procedures
#     )

#     # Calculate total cost per city
#     city_costs = procedures_by_city.groupby('City')['Price'].sum().fillna(0)

#     return city_costs

<h1>widenex -> base chat

In [45]:
# def most_popular_procedure(pets: pd.DataFrame, procedure_history: pd.DataFrame) -> str:
#     """
#     Find the most common ProcedureType across all pets.
    
#     Args:
#         pets: DataFrame containing pet information.
#         procedure_history: DataFrame containing procedure records.
    
#     Returns:
#         str: The name of the most common ProcedureType.
#     """
#     # Count occurrences of each ProcedureType
#     procedure_counts = procedure_history['ProcedureType'].value_counts()
    
#     # Return the most common ProcedureType
#     return procedure_counts.idxmax()
# def pet_name_by_owner(owners: pd.DataFrame, pets: pd.DataFrame) -> pd.Series:
#     """
#     Create a Series mapping owner first names to their pets' names.
    
#     Args:
#         owners: DataFrame containing owner information.
#         pets: DataFrame containing pet information.
    
#     Returns:
#         pd.Series: Series with owner first names as index and pet names (string or list) as values.
#     """
#     # Merge owners with pets using a left join to ensure all owners are included
#     merged_df = pd.merge(
#         owners[['OwnerID', 'Name']],
#         pets[['OwnerID', 'Name']],
#         on='OwnerID',
#         how='left',
#         suffixes=('_owner', '_pet')
#     )

#     # Group by owner's first name and aggregate pet names
#     result = merged_df.groupby('Name')['Name_pet'].agg(
#         lambda x: list(x.dropna()) if len(x.dropna()) > 1 else x.dropna().tolist()
#     )

#     return result
# def total_cost_per_city(
#     owners: pd.DataFrame, pets: pd.DataFrame, 
#     procedure_history: pd.DataFrame, procedure_detail: pd.DataFrame
# ) -> pd.Series:
#     """
#     Calculate the total amount spent on procedures per city.
    
#     Args:
#         owners: DataFrame containing owner information.
#         pets: DataFrame containing pet information.
#         procedure_history: DataFrame containing procedure records.
#         procedure_detail: DataFrame containing procedure information and prices.
    
#     Returns:
#         pd.Series: Series with cities as index and total costs as values.
#     """
#     # Merge procedure_history with procedure_detail to get prices
#     procedures_with_prices = pd.merge(
#         procedure_history,
#         procedure_detail[['ProcedureType', 'ProcedureSubCode', 'Price']],
#         on=['ProcedureType', 'ProcedureSubCode']
#     )

#     # Merge with pets to get OwnerID
#     procedures_with_owners = pd.merge(
#         procedures_with_prices,
#         pets[['PetID', 'OwnerID']],
#         on='PetID',
#         how='left'
#     )

#     # Merge with owners to get City information
#     procedures_by_city = pd.merge(
#         procedures_with_owners,
#         owners[['OwnerID', 'City']],
#         on='OwnerID',
#         how='left'
#     )

#     # Calculate total cost per city
#     city_costs = procedures_by_city.groupby('City')['Price'].sum().fillna(0)

#     return city_costs

<h1>widenex -> python(maryham)</h1>

In [46]:
# def most_popular_procedure(pets: pd.DataFrame, procedure_history: pd.DataFrame) -> str:
#     """
#     Find the most common ProcedureType across all pets.

#     Args:
#         pets: DataFrame containing pet information.
#         procedure_history: DataFrame containing procedure records.

#     Returns:
#         str: The name of the most common ProcedureType.
#     """
#     # Count occurrences of each ProcedureType
#     procedure_counts = procedure_history['ProcedureType'].value_counts()

#     # Return the most common procedure
#     return procedure_counts.idxmax()
# def total_cost_per_city(
#     owners: pd.DataFrame, pets: pd.DataFrame, 
#     procedure_history: pd.DataFrame, procedure_detail: pd.DataFrame
# ) -> pd.Series:
#     """
#     Calculate the total amount spent on procedures per city.

#     Args:
#         owners: DataFrame containing owner information.
#         pets: DataFrame containing pet information.
#         procedure_history: DataFrame containing procedure records.
#         procedure_detail: DataFrame containing procedure information and prices.

#     Returns:
#         pd.Series: Series with cities as index and total costs as values.
#     """
#     # Merge procedure_history with procedure_detail to get prices.
#     procedures_with_prices = pd.merge(
#         procedure_history,
#         procedure_detail[['ProcedureType', 'ProcedureSubCode', 'Price']],
#         on=['ProcedureType', 'ProcedureSubCode']
#     )

#     # Merge with pets to link procedures with their owners.
#     procedures_with_owners = pd.merge(
#         procedures_with_prices,
#         pets[['PetID', 'OwnerID']],
#         on='PetID',
#         how='left'  # Use left join to keep all procedures, even if pets are not registered.
#     )

#     # Merge with owners to get City information.
#     procedures_by_city = pd.merge(
#         procedures_with_owners,
#         owners[['OwnerID', 'City']],
#         on='OwnerID',
#         how='left'  # Use left join to keep all procedures, even if owners are not found.
#     )

#     # Group by 'City' and sum the total cost of procedures per city.
#     city_costs = procedures_by_city.groupby('City')['Price'].sum()

#     # Fill missing cities with 0 cost.
#     return city_costs.fillna(0)
# def pet_name_by_owner(owners: pd.DataFrame, pets: pd.DataFrame) -> pd.Series:
#     """
#     Create a Series mapping owner first names to their pets' names.

#     Args:
#         owners: DataFrame containing owner information.
#         pets: DataFrame containing pet information.

#     Returns:
#         pd.Series: Series with owner first names as index and pet names (string or list) as values.
#     """
#     # Merge the owners and pets DataFrames to link each pet with its owner's first name.
#     merged_df = pd.merge(
#         owners[['OwnerID', 'Name']],  # Only need OwnerID and owner's first name.
#         pets[['OwnerID', 'Name']],  # Only need OwnerID and pet name.
#         on='OwnerID'
#     )

#     # Group by owner's first name and aggregate pet names.
#     grouped = merged_df.groupby('Name')['Name_y'].agg(
#         lambda x: list(x) if len(x) > 1 else x.iloc[0]
#     )

#     # Return as a Series
#     return grouped

<h1>perplex fix

In [59]:
# def pet_name_by_owner(owners: pd.DataFrame, pets: pd.DataFrame) -> pd.Series:
#     merged_df = pd.merge(owners[['OwnerID', 'Name']], pets[['OwnerID', 'Name']], 
#                          on='OwnerID', suffixes=('_owner', '_pet'), how='left')
#     result = merged_df.groupby('Name_owner')['Name_pet'].agg(
#         lambda x: list(x.dropna()) if len(x.dropna()) > 1 else x.dropna().iloc[0] if len(x.dropna()) == 1 else None
#     )
#     return result

In [69]:
# do not edit this cell -- it is needed for the tests
pets_fp = Path('data') / 'pets' / 'Pets.csv'
procedure_history_fp =  Path('data') / 'pets' / 'ProceduresHistory.csv'
owners_fp = Path('data') / 'pets' / 'Owners.csv'
procedure_detail_fp = Path('data') / 'pets' / 'ProceduresDetails.csv'
pets = pd.read_csv(pets_fp)
procedure_history = pd.read_csv(procedure_history_fp)
owners = pd.read_csv(owners_fp)
procedure_detail = pd.read_csv(procedure_detail_fp)

out_01 = most_popular_procedure(pets, procedure_history)
out_02 = pet_name_by_owner(owners, pets)
out_03 = total_cost_per_city(owners, pets, procedure_history, procedure_detail)

In [70]:
out_02

Name_owner
Alden                  Scooter
Andrew                  Bright
Anne                   Natacha
Arthur                 Cuddles
Benjamin    [Danger, Collette]
                   ...
Tom                      Tiger
Tony                    Dexter
Travis                 Houdini
William       [Goethe, Bandit]
Wm                       Simba
Name: Name_pet, Length: 75, dtype: object

In [71]:
grader.check("q3")

q3 results:
    q3 - 1 result:
        Test case passed!

    q3 - 2 result:
        Trying:
            len(out_02) == len(owners)
        Expecting:
            True
        **********************************************************************
        Line 1, in q3 1
        Failed example:
            len(out_02) == len(owners)
        Expected:
            True
        Got:
            False

    q3 - 3 result:
        Test case passed!

    q3 - 4 result:
        Test case passed!

    q3 - 5 result:
        Test case passed!

## Part 2: Pivot Tables

### Question 4 ‚Äì Summarizing Sales üí∞

Recall from [Lecture 3](https://dsc80.com/resources/lectures/lec03/lec03-filled.html#Pivot-tables-using-the-pivot_table-method), a pivot table allows you to aggregate the entries in a DataFrame based on two categorical columns. In this question, you are given a simple dataset, `data/sales.csv`, and are asked to solve a few problems using the `pivot_table` method. 

**We have provided outlines for the DataFrames you need to create, but yours may have a different number of rows and columns and different values.**

***Note***: If it helps, [here](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html) is another great resource that provides an overview of `pivot_table` with many examples from the Titanic dataset.


#### `average_seller`

Complete the implementation of the function `average_seller`, which takes in the `sales` DataFrame and returns a DataFrame that contains the average sales for each seller, indexed by `'Name'` and containing the column `'Average Sales'`. There should not be any `NaN`s.

***Note***: You may be able to implement `average_seller` without using `pivot_table`.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Average Sales</th>
    </tr>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Jones</th>
      <td>0</td>
    </tr>
    <tr>
      <th>Smith</th>
      <td>0</td>
    </tr>
    <tr>
      <th>Trump</th>
      <td>0</td>
    </tr>
  </tbody>
</table>

<br>

#### `product_name`

Complete the implementation of the function `product_name` that takes in the `sales` DataFrame and returns a DataFrame that contains the total sales for each product, indexed by `'Name'`. Do not fill in `NaN`s.

<table border="1" class="dataframe">
  <thead>
    <tr>
      <th>Product</th>
      <th>boat</th>
      <th>book</th>
      <th>hotel</th>
    </tr>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Jones</th>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Smith</th>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Trump</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>

<br>

#### `count_product`

Complete the implementation of the function `count_product` that takes in the `sales` DataFrame and returns a DataFrame that contains the total number of items sold product-wise and name-wise per date. Replace `NaN`s with 0s. Don't reset the index after pivoting.

<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>01.01.2012</th>
      <th>02.20.2013</th>
      <th>02.25.2015</th>
    </tr>
    <tr>
      <th>Product</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>boat</th>
      <th>Trump</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">book</th>
      <th>Jones</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Smith</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Trump</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>hotel</th>
      <th>Trump</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>

<br>

#### `total_by_month`

Complete the implementation of the function `total_by_month` that takes in the `sales` DataFrame and returns a pivot table that contains the total sales name-wise, product-wise per month. Replace `NaN`s with 0s. Don't reset the index after pivoting.

<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>Month</th>
      <th>February</th>
      <th>January</th>
      <th>July</th>
      <th>March</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Product</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">Jones</th>
      <th>book</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>pen</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>ruler</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">Smith</th>
      <th>book</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>pen</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>ruler</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>

In [63]:
sales

     Name Product        Date  Total
0   Smith    book  01.01.2012    200
1   Jones     pen  02.20.2013    300
2   Trump   hotel  03.03.2015    100
3   Smith    book  05.10.2013   2000
4   Jones    book  02.20.2013     30
5   Trump    boat  03.30.2017    700
6   Smith   ruler  07.05.2014   2100
7   Jones   ruler  02.25.2015    350
8   Trump    book  03.03.2015   1000
9   Smith     pen  01.01.2012   2500
10  Jones   ruler  02.20.2013   3000
11  Trump     pen  03.03.2015    150

In [64]:
import pandas as pd

def average_seller(sales):
    """
    Calculate the average sales for each seller.
    
    Args:
        sales (pd.DataFrame): DataFrame containing sales data with 'Name' and 'Total' columns
    
    Returns:
        pd.DataFrame: DataFrame indexed by 'Name' with 'Average Sales' column
    """
    return sales.groupby('Name')['Total'].mean().to_frame('Average Sales')

def product_name(sales):
    """
    Calculate total sales for each product by seller.
    
    Args:
        sales (pd.DataFrame): DataFrame containing sales data with 'Name', 'Product', and 'Total' columns
    
    Returns:
        pd.DataFrame: Pivot table showing total sales per product for each seller
    """
    return pd.pivot_table(
        sales,
        values='Total',
        index='Name',
        columns='Product',
        aggfunc='sum'
    )

def count_product(sales):
    """
    Count number of items sold by product and seller per date.
    
    Args:
        sales (pd.DataFrame): DataFrame containing sales data with 'Product', 'Name', 
                            'Date' columns
    
    Returns:
        pd.DataFrame: Pivot table showing count of items sold, with Product and Name as index
                     and Date as columns
    """
    pivot_df = pd.pivot_table(
        sales,
        values='Total',
        index=['Product', 'Name'],
        columns=['Date'],
        aggfunc='count',
        fill_value=0
    )
    return pivot_df

def total_by_month(sales):
    """
    Calculate total sales by seller and product per month.
    
    Args:
        sales (pd.DataFrame): DataFrame containing sales data with 'Name', 'Product', 
                            'Date', and 'Total' columns
    
    Returns:
        pd.DataFrame: Pivot table showing total sales with Name and Product as index
                     and Month as columns
    """
    # Extract month from date
    sales['Month'] = pd.to_datetime(sales['Date']).dt.strftime('%B')
    
    pivot_df = pd.pivot_table(
        sales,
        values='Total',
        index=['Name', 'Product'],
        columns=['Month'],
        aggfunc='sum',
        fill_value=0
    )
    return pivot_df

In [65]:
# don't change this cell -- it is needed for the tests to work
fp = Path('data') / 'sales.csv'
sales = pd.read_csv(fp)
q4_average_seller_out = average_seller(sales)
q4_product_name_out = product_name(sales)
q4_product_count_out = count_product(sales)
q4_total_by_month_out = total_by_month(sales)

In [66]:
grader.check("q4")

q4 results: All test cases passed!

## Congratulations! You're done Lab 3! üèÅ

As a reminder, all of the work you want to submit needs to be in `lab.py`.

To ensure that all of the work you want to submit is in `lab.py`, we've included a script named `lab-validation.py` in the lab folder. You shouldn't edit it, but instead, you should call it from the command line (e.g. the Terminal) to test your work.

Once you've finished the lab, you should open the command line and run, in the directory for this lab:

```
python lab-validation.py
```

**This will run all of the `grader.check` cells that you see in this notebook, but only using the code in `lab.py` ‚Äì that is, it doesn't look at any of the code in this notebook. If all of your `grader.check` cells pass in this notebook but not all of them pass in your command line with the above command, then you likely have code in your notebook that isn't in your `lab.py`!**

You can also use `lab-validation.py` to test individual questions. For instance,

```
python lab-validation.py q1 q2 q4
```

will run the `grader.check` cells for Questions 1, 2, and 4 ‚Äì again, only using the code in `lab.py`. [This video](https://www.loom.com/share/0ea254b85b2745e59322b5e5a8692e91?sid=5acc92e6-0dfe-4555-9b6a-8115b6a52f99) how to use the script as well.

Once `python lab-validation.py` shows that you're passing all test cases, you're ready to submit your `lab.py` (and only your `lab.py`) to Gradescope. Once submitting to Gradescope, make sure to stick around until all test cases pass.

There is also a call to `grader.check_all()` below in _this_ notebook, but make sure to also follow the steps above.

<div class="alert alert-block alert-danger" markdown="1">

**There are only two functions in this lab in which you may use a `for`-loop:**
- **`read_linkedin_survey` in Question 1.**
- **`read_student_surveys` in Question 2.**
    
**You may lose points if you use a `for`-loop or `while`-loop in any other question!**

</div>

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [67]:
grader.check_all()

q1 results: All test cases passed!

q2 results: All test cases passed!

q3 results:
    q3 - 1 result:
        Test case passed!

    q3 - 2 result:
        Trying:
            len(out_02) == len(owners)
        Expecting:
            True
        **********************************************************************
        Line 1, in q3 1
        Failed example:
            len(out_02) == len(owners)
        Expected:
            True
        Got:
            False

    q3 - 3 result:
        Test case passed!

    q3 - 4 result:
        Test case passed!

    q3 - 5 result:
        Test case passed!

q4 results: All test cases passed!